header {
    background-color: blanchedalmond;
  }
  
footer {
    background-color: blanchedalmond;
}

.btn {
  background-color: aqua;
  color: black;
}

.rounded {
  border-radius: 0.75rem !important;
}