<!-- Body della main page -->
<body>
    <!-- Includi l'header -->
    {{> header}}

    <!-- Fading dei blocchi evento -->
    <script>
        $(document).ready(function() {
            $(".listing").fadeIn(1500);
        });
    </script>

    <!-- Se l'utente è loggato allora fai comparire i pulsanti, altrimenti no -->
    {{#if log}}
        <script>
            $(document).ready(function() {
                $(".listing").hover(function() {
                    $(".buttons-par", this).fadeIn("fast");
                }, function() {
                    $(".buttons-par", this).fadeOut("fast");
                });
            });
        </script>
    {{/if}}

    <!-- Per ogni elemento della query crea un nuovo elemento -->
    {{#each mainList}}
        {{> main-listing}}
    {{/each}}

    <!-- Includi il footer -->
    {{> footer}}
</body>