<!-- Body della main page -->
<body>
    <!-- Includi l'header -->
    {{> header}}

    <!-- Fading dei blocchi evento -->
    <script>
        $(document).ready(function() {
            $(".listing").fadeIn(1500);
        });
    </script>

    <!-- Se l'utente è loggato allora fai comparire i pulsanti, altrimenti no -->
    {{#if log}}
        <script>
            $(document).ready(function() {
                $(".listing").click(function() {
                    if ($(".buttons-par", this).css("display") == "none")
                        $(".buttons-par", this).fadeIn("fast");
                    else 
                        $(".buttons-par", this).fadeOut("fast");
                });
            });
        </script>
    {{/if}}

    <!-- Parte di ricerca: se non ci sono risultati allora stampa l'errore -->
    {{#if error}}
        <div class="mb-3 text-danger text-center" id="message">{{error}}</div>
    {{/if}}

    <!-- Per ogni elemento della query crea un nuovo elemento -->
    <section id="mainSection">
        {{#each mainList}}
            {{> main-listing}}
        {{/each}}
    </section>

    <!-- Includi il footer -->
    {{> footer}}
</body>