<!-- Body della main page -->
<body>
    <!-- Includi l'header -->
    {{> header}}

    <!-- Può essere utile fare il fade-in dei blocchi evento-->

    <script>
        $(document).ready(function(){
            $(".listing").fadeIn(1500);

            $(".listing").hover(function(){
                $(".buttons-par", this).fadeIn("fast");
            }, function(){
                $(".buttons-par", this).fadeOut("fast");
            });
        });
    </script>
    

    <!-- Per ogni elemento della query crea un nuovo elemento -->
    {{#each mainList}}
        {{> main-listing}}
    {{/each}}

    <!-- Includi il footer -->
    {{> footer}}
</body>