<!-- Body della pagina di login -->
<body class="text-center">
    <form action="" class="form-signin" method="post" name="form-login" onsubmit="validaForm()">
        <a href="/">
            <img class="mb-4" src="img/favicon-32x32.png" width="72"/>
        </a>
        <h1 class="h3 mb-3 font-weight-normal">Effettua il login</h1>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email" required autofocus/>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required/>
        <div id="divRemember" class="checkbox mb-3">
            <input type="checkbox" name="rememberMe"/>
            <label for="rememberMe">Remember me</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="loginButton" type="submit">Sign in</button>
    </form>
</body>
