<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <a href="/">
                <!-- Aspetto dell'immagine originale: 3.66:1 -->
                <img src="img/icon-transparent.png" alt="home" width="250" height="68" />
              </a>

              <!-- Form -->
              <form onsubmit="return validaForm()" action="/signupValid" method="post">
                <h2>Registrati</h2>
                <p>Compilare il form per creare un nuovo account!</p>
                <hr>

                <!-- Nome e cognome -->
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control" name="nome" placeholder="Nome"
                        required="required"></div>
                    <div class="col-xs-6"><input type="text" class="form-control" name="cognome" placeholder="Cognome"
                        required="required"></div>
                  </div>
                </div>

                <!-- Data di nascita -->
                <div class="form-outline mb-4">
                  <label for="data" <b>Data di nascita</b></label>
                  <input type="date" id="data" name="data" onchange="checkData()">
                </div>

                <!-- Sesso -->
                <div class="form-outline mb-4">
                  <label class="my-1 mr-2" for="sesso">Sesso</label>
                  <select name="sesso" id="sesso" required>
                    <option value="" selected></option>
                    <option value="M">maschio</option>
                    <option value="F">femmina</option>
                    <option value="U">altro</option>
                  </select>
                </div>

                <!-- Email -->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                    <input type="email" class="form-control" name="email" placeholder="Email " required>
                  </div>
                </div>

                <!-- Password -->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="password"
                      onchange='checkLgh()' required>
                  </div>
                  <!-- Mostra password -->
                  <input class="form-check-input" type="checkbox" name="showPsw" onclick="showPwd()">
                  <label class="form-check-label" for="flexCheckDefault"> mostra</label>
                </div>

                <!-- Password repeat -->
                <div class="form-outline mb-4">
                  <div class="form-group">
                    <span class="form-group-addon">
                      <i class="fa fa-lock"></i>
                      <i class="fa fa-check"></i>
                    </span>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Conferma Password"
                      id="password_repeat" onchange='checkPwdMatch()' required="required">
                  </div>
                  <!-- Mostra password -->
                  <input class="form-check-input" type="checkbox" name="showPsw2" onclick="showPwd2()">
                  <label class="form-check-label" for="flexCheckDefault"> mostra</label>

                  <!-- Termini e condizioni -->
                </div>
                <div class="form-outline mb-4">
                  <span id='message'></b></span>
                </div>
                <div class="form-outline mb-4">
                  <label class="checkbox-inline"><input type="checkbox" required="required"> Accetto i
                    <a href="#">Termini d'uso e condizioni </a>
                  </label>
                </div>

                <!-- Bottone di conferma -->
                <div class="form-outline mb-4 text-center">
                  <button type="submit" class="btn btn-primary btn-lg">Registrati</button>
                </div>
              </form>
              <div class="text-center">Sei già registrato? <a href="login">Accedi</a></div>
              <div class="text-center">Torna alla <a href="/">Home</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>