:root {
  --theme-color: rgba(24, 192, 46, 0.534);
  --btn-prenota-color: rgba(8, 211, 41, 0.603);
  --btn-info-color: rgba(17, 177, 226, 0.534);
  --header-color: var(--theme-color);
  --footer-color: #efefef;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  position: relative;
}

header {
  background-color: var(--header-color);
  margin-left: auto;
}

footer {
  background-color: var(--footer-color);
  padding-top: 3rem;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 95%;
}

.btn-prenota {
  background-color: var(--btn-prenota-color);
  color: black;
}

.btn-info {
  background-color: var(--btn-info-color);
  color: black;
}

.btn-login {
  background-color: var(--btn-info-color);
  border-color: transparent;
  color: black;
}

.rounded {
  border-radius: 0.75rem !important;
}

.listing {
  width: 95%;
  display: none;
}

.gradient-custom-4 {
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.buttons-par, #luogo, #organizzatore {
  display: none;
}

.input-group-text {
  background-color: white;
}

.card-custom {
  /* max-width: 500px; */
  display: inline-block;
}

.card-columns {
    column-count: 4;
}

/* Media queries per l'adattamento a dispositivi mobili */
@media screen and (max-width: 600px) {
  footer {
    bottom: auto;
    display: flex;
    flex-direction: column;
  }

  footer p {
    margin-bottom: 1;
  }

  section {
    min-height: 65vh;
  }

  .card-columns {
    column-count: 1;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1600px) {
  .card-columns {
    column-count: 3;
  }
}
