/* Colori */
:root {
    --theme-color: rgba(24, 192, 46, 0.534);
    --btn-prenota-color: rgba(8, 211, 41, 0.603);
    --btn-prenotato-color: rgb(5, 134, 16);
    --btn-info-color: rgba(17, 177, 226, 0.534);
    --header-color: var(--theme-color);
    --footer-color: #efefef;
    --font-family: "Lato", "Inter", sans-serif;
}

.gradient-custom-4 {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

/* Generali */
html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    padding-bottom: 5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family);
}

header {
    background-color: var(--header-color);
    margin-left: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--footer-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

div {
    font-size: 17px;
    color: black;
    font-weight: 100;
}

div#titolo {
    font-size: 25px;
    text-align: center;
    padding-top: .5rem;
    font-weight: 400;
}

div#tipo {
    margin-bottom: .5rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    max-width: 95%;
}

footer > p {
    margin-bottom: 0;
}

/* Pulsanti */
.buttons-par {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: none;
}

.btn-prenota {
    background-color: var(--btn-prenota-color);
    color: black;
}

.btn-prenota:hover, .btn-prenota:focus, .btn-prenota:active {
    background-color: var(--btn-info-color);
}

.btn-prenotato {
    background-color: var(--btn-prenotato-color);
    color: white;
}

.btn-login {
    background-color: var(--btn-prenota-color);
    border-color: transparent;
    color: black;
}

.btn-login:hover, .btn-login:active, .btn-login:focus {
    background-color: var(--btn-info-color);
    border-color: transparent;
    color: black;
}

div#desc {
    text-align: justify;
}

.input-group-text {
    background-color: white;
}

.d-flex {
    align-items: center;
    justify-content: center;
}

.fa-search {
    cursor: pointer;
}

/* Gestione card nella main page */
.listing {
    width: 95%;
    display: none;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1.5rem 3.5rem;
    justify-items: center;
}

.card {
    border: none;
    display: inline-block;
    width: 400px;
    height: 300px;
}

.card-inner {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
}

/* Media queries per l'adattamento a dispositivi mobili */
@media screen and (max-width: 600px) {
    footer {
        bottom: auto;
        display: flex;
        flex-direction: column;
    }

    footer p {
        margin-bottom: 1;
    }

    section {
        min-height: 65vh;
    }
}

@media screen and (max-width: 464px) {
    .text-end {
        margin-top: 1rem;
    }
}
