/* Colori */
:root {
    --theme-color: rgba(24, 192, 46, 0.534);
    --btn-prenota-color: rgba(8, 211, 41, 0.603);
    --btn-info-color: rgba(17, 177, 226, 0.534);
    --header-color: var(--theme-color);
    --footer-color: #efefef;
}

.gradient-custom-4 {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

/* Generali */
html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    padding-bottom: 5rem;
    position: relative;
}

header {
    background-color: var(--header-color);
    margin-left: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.input-group-text {
    background-color: white;
}

footer {
    background-color: var(--footer-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
}

.d-flex {
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: var(--btn-prenota-color);
    border-color: transparent;
    color: black;
}

label {
    margin-bottom: .25rem;
}

/* Media queries per l'adattamento a dispositivi mobili */
@media screen and (max-width: 600px) {
    footer {
        bottom: auto;
        display: flex;
        flex-direction: column;
    }
  
    footer p {
        margin-bottom: 1;
    }
  
    section {
        min-height: 70vh;
    }
}
